.post .post-img{
    position: relative;
    left: 16%;
   align-items: center;
}

.post .contact-form{
    margin-top: 5%;
    position: relative;
    left: 28%;
    align-items: center;
}

@media screen and (max-width: 768px){
   
    .post .contact-form{
       margin-top: 16%;
    }
   
}

.content{
    color: rgb(15, 15, 15);
}

.frame {
    position: relative;
    margin: 25vh auto -191px; /* Push the element down by 50% of the viewport height */
    transform: translateY(-50%); /* Pull it back up by 50% of its height */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    text-align: center; /* Optional */
}

@media screen and (max-width: 768px) {
    .frame {
        position: relative;
        margin: 27vh auto -154px; /* Push the element down by 50% of the viewport height */
        transform: translateY(-50%); /* Pull it back up by 50% of its height */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%; /* Adjust width for smaller screens */
        height: auto; /* Adjust as needed */
        text-align: center; /* Optional */
    }
}

@media screen and (max-width: 480px){
    .frame {
        position: relative;
        margin: 18vh auto -104px; /* Push the element down by 50% of the viewport height */
        transform: translateY(-50%); /* Pull it back up by 50% of its height */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%; /* Adjust width for smaller screens */
        height: auto; /* Adjust as needed */
        text-align: center; /* Optional */
    } 
    .back-button{
        left: 6em;
    }
}

.cen{
    position: relative;
    left: 0px;
    width: 100%;
}

.title1{
    font-size: 40px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 5%;
}

.back-button{
    position: relative;
    left: 25em;
    top: 1.5em;
    translate: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #752995;
    color: white;
    
    border: 2px solid #752995;
  
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover{
    background-color: #fff;
}
@media screen and (max-width: 768px){
    .post .post-img{
        position: relative;
        left: 0%;
        width: 100%;
    }
    .post .contact-form{
        position: relative;
        left: 0%;
    }
    .main .nav-links{
        display: none;
    }
    .back-button{
        left:9em;
    }
    
}